body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  outline: 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.start {
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid pink;
  background-color: pink;
  border-radius: 4px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


.game-info {
  margin-left: 20px;
}

.game-history-item {
  width: 100px;
  background-color: rgba(255, 192, 203, 0.4);
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 5px;
}

.history-ul {
  margin-top: 20px;
}

.history-btn {
  width: 50px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}